@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

*,
html {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #5044e5;
  --animate-marquee: marquee var(--duration, 40s) linear infinite;
  --animate-marquee-vertical: marquee-vertical var(--duration, 40s) linear
    infinite;
}

.c-space {
  @apply sm:px-10 px-5 lg:px-15;
}

.section-spacing {
  @apply min-h-screen mt-20 md:mt-30;
}

.nav-ul {
  @apply flex flex-col items-center gap-5 sm:flex-row z-20;
}

.nav-link {
  @apply text-gray-700 hover:text-black relative inline-block before:content-[''] before:absolute before:-bottom-1 before:left-0  before:w-full before:h-[1.5px] before:bg-primary before:origin-left before:scale-x-0 before:transition-transform before:duration-300 hover:before:scale-x-100 font-medium text-sm dark:text-white dark:hover:text-white;
}

.hover-animation {
  @apply hover:-translate-y-1 duration-200;
}

.btn {
  @apply text-white bg-primary rounded-full font-medium py-2 text-sm px-6;
}

/* Custom Background */
@layer utilities {
  .bg-custom-1 {
    background-image: url('/src/assets/bgimage1.png');
    background-size: cover;
    background-position: center;
  }
}

/* Marquee */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
